.admin-wrapper {
    position: relative;

    header {
        position: relative;

        max-width: calc(100% - 350px);
        width: 100%;
        height: 80px;
        padding: 10px 40px;
        margin-left: 350px;
        background-color: $c-grey-a40;
        box-sizing: border-box;
    }
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 900;

        max-width: 350px;
        width: 100%;
        height: 100vh;       
        background-color: $c-grey-a40;
        box-shadow: 0 5px 15px 0 rgba(0,0,0,0.8);
    }
    .sidebar__logo {
        height: 80px;
    }
    .body-content {
        max-width: calc(100% - 350px);
        width: 100%;
        margin-left: 350px;
        padding: 40px;
        box-sizing: border-box;
    }
}
