.page .title {
    font-size: 30px;
}
.page .filter button {
    padding: 0 15px;
}
.page .filter button:first-child span {
    font-size: 16px;
}
.page .filter .letter {
    font-size: 16px;
}
.admin-wrapper .table__general * {
    font-size: 15px;
}
#col__action {
    min-width: 120px;
    .mat-icon-button {
        width: auto;
    }
}
#col__add {
    padding-left: 0;
}
