<aside class="sidebar">
    <div class="sidebar__logo">
        <img src="./assets/images/logo.png" />
    </div>
    <ol class="siderbar__nav">
        <li class="nav__item">
            <a class="nav__link" routerLink="/admin" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <span><mat-icon>home</mat-icon></span>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="nav__item">
            <a class="nav__link" routerLink="/admin/posts" routerLinkActive="active">
                <span><mat-icon>home</mat-icon></span>
                <span>Posts</span>
            </a>
        </li>
        <li class="nav__item">
            <a class="nav__link" routerLink="/admin/cv" routerLinkActive="active">
                <span><mat-icon>home</mat-icon></span>
                <span>CV</span>
            </a>
        </li>
        <li class="nav__item">
            <a class="nav__link" routerLink="/admin/category" routerLinkActive="active">
                <span><mat-icon>home</mat-icon></span>
                <span>Category</span>
            </a>
        </li>
        <li class="nav__item">
            <a class="nav__link" routerLink="/admin/area" routerLinkActive="active">
                <span><mat-icon>home</mat-icon></span>
                <span>Areas</span>
            </a>
        </li>
    </ol>
</aside>
