<div class="admin-wrapper dialog__create">
    <h2 class="title" mat-dialog-title>Posts Create</h2>
    <mat-dialog-content>
        <form [formGroup]="formCreate" enctype="multipart/form-data">
            <div>
                <mat-form-field>
                    <mat-label>Title</mat-label>
                    <input matInput type="text" placeholder="Please enter title" formControlName="title" />
                </mat-form-field>
            </div>   
            <div id="editor">
                <ck-editor name="editor1" skin="moono-lisa" language="en" [fullPage]="true" formControlName="content"></ck-editor>
            </div> 
            <div class="flex">                                                            
                <div class="item">
                    <mat-form-field>
                        <mat-label>Status</mat-label>
                        <mat-select formControlName="status">
                            <mat-option *ngFor="let val of arrStatus" [value]="val">{{val}}</mat-option>                                             
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="item">
                    <mat-form-field>
                        <mat-label>Cate</mat-label>
                        <mat-select formControlName="cate_id">
                            <mat-option *ngFor="let val of arrCateId" [value]="val.id">{{val.name}}</mat-option>                          
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="item">
                    <mat-form-field>
                        <mat-label>Area</mat-label>
                        <mat-select formControlName="area_id">
                            <mat-option *ngFor="let val of arrAreaId" [value]="val.id">{{val.name}}</mat-option>                                           
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="item">
                    <mat-form-field>
                        <mat-label>Expired</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="expired">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="item">
                    <div>
                        <label id="upload__label" for="upload">
                            <img id="upload__img" src="./assets/images/upload.png" />
                            <span>Choose Image</span>    
                        </label>                        
                        <input id="upload" type="file" (change)="onChangeImage($event)" />
                    </div>
                </div>
            </div>            
        </form>        
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button (click)="onCreate()" [disabled]="formCreate.invalid">Save</button>
        <button mat-button mat-dialog-close>Close</button>
    </mat-dialog-actions>
</div>


