<div class="page">
    <h1 class="title">POSTS</h1>
    <div class="filter"> 
        <button mat-button (click)="onAllData()">            
            <span>All Data</span>
        </button>      
        <button mat-button (click)="onFilter()">
            <mat-icon>settings</mat-icon> 
            <span class="letter">Filter</span>
        </button>
    </div>
    <table class="table__general">
        <tr>
            <th>ID</th>
            <th>TITLE</th>        
            <th>IMAGE</th>
            <th>CREATED_AT</th>
            <th>UPDATED_AT</th>
            <th>STATUS</th>
            <th>ACTIONS</th>
            <th>            
                <button mat-icon-button (click)="onCreate()"><mat-icon>add_circle</mat-icon></button>
            </th>
        </tr>
        <tr *ngFor="let posts of arrPosts"> 
            <td>{{posts.id}}</td>    
            <td>{{posts.title}}</td>        
            <td>
                <img [src]="posts.image" alt="">
            </td>
            <td>{{posts.created_at | date:'medium'}}</td>      
            <td>{{posts.updated_at | date:'medium'}}</td>     
            <td>
                <mat-slide-toggle [checked]="posts.status == 1 ? true : false"></mat-slide-toggle>
            </td>   
            <td id="col__action">            
                <button mat-icon-button (click)="onDetail(posts)"><mat-icon>remove_red_eye</mat-icon></button>
                <button mat-icon-button (click)="onEdit($event, posts)"><mat-icon>edit</mat-icon></button>
                <button mat-icon-button (click)="onDelete($event, posts.id)"><mat-icon>delete</mat-icon></button>
            </td>
            <td id="col__add"></td>
        </tr>
    </table>
</div>