.page .title {
    font-size: 40px;
    font-weight: 500;
}
.page .filter {
    display: flex;
    margin: 20px 0 40px 0;
    button {
        background-color: #0b970b;
        color: #fff;  
        padding: 5px 20px;   
        margin-right: 20px;  
        &:first-child {
            span {
                font-size: 20px;
            }
        }           
    }
    .letter {
        margin-left: 10px;
        font-size: 20px;
    }
}