<div class="page">
    <h1 class="title">AREAS</h1>
    <div class="filter"> 
        <button mat-button (click)="onAllData()">            
            <span>All Data</span>
        </button>      
        <button mat-button (click)="onFilter()">
            <mat-icon>settings</mat-icon> 
            <span class="letter">Filter</span>
        </button>
    </div>
    <table class="table__general">
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>SLUG</th>        
            <th>CREATED_AT</th>
            <th>UPDATED_AT</th>
            <th>STATUS</th>
            <th>ACTIONS</th>
            <th>
                <button mat-icon-button (click)="onCreate()"><mat-icon>add_circle</mat-icon></button>
            </th>
        </tr>
        <tr *ngFor="let area of arrArea">
            <td>{{area.id}}</td>
            <td>{{area.name}}</td>
            <td>{{area.slug}}</td>        
            <td>{{area.created_at | date:'medium'}}</td>
            <td>{{area.updated_at | date: 'medium'}}</td>       
            <td>
                <mat-slide-toggle [checked]="area.status == 1 ? true : false"></mat-slide-toggle>
            </td> 
            <td id="col__action">   
                <button mat-icon-button (click)="onDetail(area)"><mat-icon>remove_red_eye</mat-icon></button>         
                <button mat-icon-button (click)="onEdit($event, area)"><mat-icon>edit</mat-icon></button>
                <button mat-icon-button (click)="onDelete($event, area.id)"><mat-icon>delete</mat-icon></button>
            </td>
            <td id="col__add"></td>
        </tr>
    </table>
</div>