<h1 class="filter__dialog--title" mat-dialog-title align="end">
    <button class="btn__close" mat-icon-button mat-dialog-close><mat-icon>close</mat-icon></button>
</h1>
<mat-dialog-content>
    <form [formGroup]="formFilter" (submit)="onFilter()">
        <div class="filter__flex">
            <div class="filter__item">
                <mat-form-field>
                    <mat-label>Full Name</mat-label>
                    <input matInput placeholder="Please enter full name" formControlName="name" />
                </mat-form-field>
            </div>
            <div class="filter__item">
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Please enter email" formControlName="email" />
                  </mat-form-field>
            </div>
            <div class="filter__item">
                <mat-form-field>
                    <mat-label>Phone</mat-label>
                    <input matInput placeholder="Please enter phone" formControlName="phone" />
                </mat-form-field>
            </div>
            <div class="filter__item">
                <mat-form-field>
                    <mat-label>Address</mat-label>
                    <input matInput placeholder="Please enter address" formControlName="address" />
                  </mat-form-field>
            </div>           
            <div class="filter__item">
                <mat-form-field>
                    <mat-label>Category</mat-label>
                    <mat-select formControlName="cateId">
                        <mat-option *ngFor="let cate of arrCate" [value]="cate.id">{{cate.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="filter__item">
                <mat-form-field>
                    <mat-label>Area</mat-label>
                    <mat-select formControlName="areaId">
                        <mat-option *ngFor="let area of arrArea" [value]="area.id">{{area.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="filter__item">
                <mat-form-field>
                    <mat-label>Enter a date range created_at</mat-label>
                    <mat-date-range-input [rangePicker]="pickerCreate">
                        <input matStartDate placeholder="Start date" formControlName="created_at_start">
                        <input matEndDate placeholder="End date" formControlName="created_at_end">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="pickerCreate"></mat-datepicker-toggle>
                    <mat-date-range-picker #pickerCreate></mat-date-range-picker>
                </mat-form-field>
            </div>
            <div class="filter__item">
                <mat-form-field>
                    <mat-label>Enter a date range updated_at</mat-label>
                    <mat-date-range-input [rangePicker]="pickerUpdate">
                        <input matStartDate placeholder="Start date" formControlName="updated_at_start">
                        <input matEndDate placeholder="End date" formControlName="updated_at_end">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="pickerUpdate"></mat-datepicker-toggle>
                    <mat-date-range-picker #pickerUpdate></mat-date-range-picker>
                </mat-form-field>
            </div>            
        </div>        
    </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button class="btn__filter" mat-button (click)="onFilter()">Filter</button>
</mat-dialog-actions>

